.wrapper{
	width: 700px;
	height: 450px;
	background: grey;
	display: flex;
	justify-content: center;
	box-shadow: 0 10px 20px 0 rgba(#000, 0.1);
}
.conatiner{
	width: 50%;
> *{
   margin: 30px 0;
 }
}
.tabs{
	margin-bottom: 40px 0;
ul{
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding: 0;
	margin: 0;
 }
}
li{
	margin: 0 30px;
	text-transform: uppercase;
	font-size: 12px;
	letter: 0.18em;
}
	.active {
		position: relative;
		&:before {
			position: absolute;
			content: '';
			height: 1px;
			width: 100%;
			background: $ube;
			bottom: -2px;
		}
	}
}
.pay-type{
	display: flex;
	label{
	text-transform: uppercase;
	font-size: 12px;
	letter: 0.18em;
	position: relative;
	}
	label:nth-child(2) {
		margin-right: 20px;
	}
	&:before,&:after {
		position: absolute;
		content: '';
	}
	&:before{
		width: 12px;
		height: 12px;
		border: 1px solid $ube;
		border-radius: 50%;
		left: -20px;
		top: 1px;
	}
	&:after{
		width: 10px;
		height: 10px;
		background: $ube;
		top: 3px;
		left: -18px;
		border-radius: 50%;
		opacity: 0;
	}
	.payment{
		visibility: hidden;
	}
	.payment:checked + label {
		&:after{
			opacity: 1px;
		}
	}

}
form{
	width: 80%;
> * {
	display: block;
 }
}
label{
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 0.18em;
}
input{
	width: 100%;
	border: 0;
	border-bottom: 1px solid rgba($ube, 0.5);
	margin: 10px 0;
	margin-bottom: 30px;
	outline: 0;
	color: $ube;
	font-size: 13px;
	transition: 0.5s all ease;
	letter-spacing: 0.1em;
}
input:focus{
	border-bottom: 1px solid $ube;
	transition: 0.5s all ease;
}
.validation{
    width: 100%;
    display: flex;
    justify-content: space-between;
    > *{
    	width: 40%;
    }
}
.button{
	background: $ube;
	width: 120px;
	height: 30px;
	border: none;
	color: white;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 0.18em;
	transition: 0.5s all ease;
	cursor: pointer;

	&:hover{
		opacity: 0.5;
		transform: scale(0.98);
		transition: 0.5s all ease;
	}
}
$main: #FEEAFA;
$second: rgba(#6c91bf, 0.2);
$text: #666a86;
$ube: #7072A0;

@import url('https://fonts.googleapis.com/css?
	family=Playfair+Dispaly|Source+Sans+Pro:300,400,600');

body{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: linear-gradient(45deg, $main, $second);
	font-family: "Source Sans Pro";
}

